/* -------------------------------------------------------------
                                                Section 1: Banner Section----------------------------------------------------------- */

/* -------------------------------------------------------------
                                                Section 2: Products Section----------------------------------------------------------- */

/* Shop Products Container */
.shop-products-container {
  padding: 80px 50px !important;
}

/* Sidebar */
.shop-sidebar {
  border-right: 1px solid #efefef;
}

.search-product-form {
  position: relative;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 0;
}

.search-product-form input {
  border: none;
  outline: none;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #262626;
  outline: none;
  width: 100%;
}

.search-products-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.search-product-form-mobile {
  display: none;
}

.product-sorting h3,
.product-categories h3,
.product-tags h3 {
  color: #262626;
  font-family: Marcellus;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin-top: 20px;
  overflow: hidden;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.product-sorting-btn,
.product-categories button,
.product-tags button {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-left: 10px;
  color: #656565;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 5px;
}

.product-sorting button:hover,
.product-categories button:hover,
.product-tags button:hover {
  color: #be9c79;
}

.sidebar-img {
  width: 90%;
  margin-top: 50px;
}

/* Products */
.shop-products-col {
  padding: 0 !important;
  padding-bottom: 20px !important;
}

.single-product-link {
  display: flex;
  align-items: center;
}

.product-img {
  display: flex;
}

.product-img img {
  transition: all 0.3s;
  margin: auto;
  cursor: pointer;
}

.product-description a:hover {
  text-decoration: none;
}

.product-description h3 {
  color: #262626;
  font-family: Marcellus;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin-top: 20px;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.product-description p {
  color: #656565;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.product {
  position: relative;
}

.product .product-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 1s;
}

.add-to-cart-btn {
  border: none;
  background-color: #be9c79;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white;
  padding: 19px 35px;
  transition: all 0.3s;
}

.add-to-cart-btn.disabled {
  background-color: #656565;
}

.add-to-cart-btn:hover {
  background-color: black;
}

.add-to-cart-btn.disabled:hover {
  background-color: #656565;
  cursor: not-allowed;
}

.product:hover .product-overlay {
  display: block;
}

.product:hover .product-content img {
  background-color: transparent;
  opacity: 0.3;
}

.mobile-add-to-cart-btn button {
  display: none;
}

/* Pagination */

/* Hide pagination buttons when there is single page */
.paginationBttns.page-count-1 {
  display: none !important;
}

.paginationBttns {
  width: 80% !important;
  margin-top: 80px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns li {
  padding: 20px 0;
}

.paginationBttns li.previous a,
.paginationBttns li.next a {
  background-color: #be9c79;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  color: white;
  padding: 15px 35px;
  transition: all 0.3s;
  border-radius: 0;
}

.paginationBttns li.previous a:hover,
.paginationBttns li.next a:hover {
  background-color: #262626;
}

.paginationBttns li.paginationDisabled a {
  background-color: #656565;
  cursor: not-allowed;
}

.paginationBttns li.paginationDisabled a:hover {
  background-color: #656565;
  cursor: not-allowed;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  color: white;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  text-decoration: none;
}

.paginationActive {
  background-color: transparent;
}

.paginationActive a {
  color: #be9c79;
}

.paginationDisabled a {
  color: white;
  background-color: grey;
}

.paginationDisabled a:hover {
  background-color: grey;
}

/* Mobile Filter */
.product-filter-mobile {
  display: none;
}

.mobile-filter-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none !important;
  outline: none !important;
  background-color: whitesmoke !important;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #be9c79 !important;
  padding: 10px 35px !important;
  transition: all 0.3s;
  box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.3) !important;
}

.mobile-filter-close-btn {
  width: 100%;
  border: none !important;
  outline: none !important;
  background-color: #be9c79 !important;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.15em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white !important;
  padding: 10px 35px !important;
  transition: all 0.3s;
}

.modal-filter-title {
  font-family: Marcellus;
  line-height: 1.55em;
  letter-spacing: 2px;
  font-weight: 400;
}

/* Responsive */
@media only screen and (max-width: 991px) {
  .shop-sidebar {
    display: none;
  }

  .product-filter-mobile {
    display: block;
  }

  .search-product-form-mobile {
    display: block;
  }

  .search-product-mobile-row {
    margin: 0 !important;
    padding: 50px;
    padding-top: 20px;
  }

  .search-product-form-mobile {
    /* position: relative; */
    width: 100%;
    margin-left: auto;
  }

  .search-product-form-mobile input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #656565;
    outline: none;
  }

  .search-products-icon-mobile {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
  }

  .paginationBttns {
    width: 100% !important;
  }
}

@media only screen and (max-width: 786px) {
  .shop-products-col {
    padding: 0 20px !important;
    padding-bottom: 50px !important;
  }

  .product-overlay button {
    display: none;
  }

  .product:hover .product-content img {
    opacity: 1;
  }

  .mobile-add-to-cart-btn button {
    display: block;
    border: none;
    background-color: #be9c79;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.15em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border-radius: 0;
    transition: all 0.3s;
    width: 100%;
  }

  .mobile-add-to-cart-btn button:hover {
    background-color: #262626;
  }

  .mobile-add-to-cart-btn.disabled button {
    background-color: #656565;
  }
}

@media only screen and (max-width: 580px) {
  .shop-products-container {
    padding: 80px 0 !important;
  }

  .product-description h3 {
    font-size: 16px;
  }

  .product-description p {
    font-size: 16px;
  }
}

/* -------------------------------------------------------------
                                                Section 3: Footer Section----------------------------------------------------------- */
